.container {
  padding: 0 2rem;
  height: 100vh;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  padding: 40px 0;
  text-align: center;
  font-size: 40px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.heading {
  font-size: 50px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.card {
  flex: 0 1 calc(25% - 15px);
  background-color: #ffffff;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  overflow: hidden;
}

.card-content {
  padding: 15px;
  box-sizing: border-box;
  background-color: #FFF8E1;
}

/* .flag img{
  height: auto;
} */

.title-heading {
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 15px 0;
}

.cta-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.view {
  display: block;
  text-decoration: none;
  background-color: #1976D2;
  color: #fafafa;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
}

.delete {
  width: 40px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.delete svg {
  width: 15px;
  height: 15px;
  pointer-events: none;
}

.buttonUI {
  border: 0;
  background-color: #5790ea;
  padding: 12px 20px;
  border-radius: 8px;
  color: #fafafa;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease-in-out;
}

.buttonUI:hover {
  background-color: #2e599d;
}

.addto {
  background-color: #034b61;
  padding: 40px 0;
}

@media(max-width: 768px) {
  .card {
    flex-basis: calc(50% - 10px);
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media(max-width: 440px) {
  .card {
    flex-basis: 100%;
  }
}
